@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <h1 class="display-4">Hola Mundo!</h1>
    <h2 class="display-4">Soy Nicolás Spalla</h2>
    <p class="h5">Desarrollador Junior FullStack especializado en tecnología .NET</p>
    <img src="~/images/foto.jpeg" alt="imagen personal" id="foto" />
</div>

<div class="text-center " style="margin-top:2rem;">
    <img src="~/images/dotnet-imagen-2.png" id="fotoDotnet" alt="DOTNET Logo" class="img-fluid" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi Portfolio</h1>
        <p>
            Soy un apasionado por la tecnología y estudiante autodidacta de desarrollo de software.
            Recientemente inscripto en la Universidad de Hurlingham(UNAHUR-Arg) en la Tecnicatura en Programación para perseguir estudios universitarios.
            Durante mis estudios y prácticas estuve principalmente enfocado en la tecnología .NET.
            He tenido la posibilidad de desarrollar profesionalmente un software de gestión para una cadena de estilistas integramente en C#,
            ahora busco continuar mi carrera profesional para poder expandirme en el mundo del software.
        </p>
    </div>
</div>
